@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

.text-brand-travi {
  color: #eb6ea5;
}
.text-brand-go {
  color: #696aad;
}



.dp--menu-wrapper {
  transform: translate(-50%, -50%);
}

.material-symbols-outlined {
  font-size: unset;
}
