@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

.text-unionjack-blue {
  color: #012169
}
.text-unionjack-red {
  color: #C8102E;
}